.header {
    margin:5px 10px 0;
    color:#d46e58;
    display:inline-block;
  }
  
  .note {
      background-image: url("assets/images/sticky-backg.png");
      background-repeat: no-repeat;
    /* box-shadow:#999 1px 1px 3px; */
    margin:15px 15px;
    padding:10px;
    height:250px;
    width:250px;
    display:inline-block;
    overflow:hidden;
  }

  .delete{
    color:red; float: right; margin-top:10px;margin-right:10px;
  }

.save{
    float:right; margin-top:10px; font-weight:bold;
}

  .note > .title{
      margin-top: 10px;
      margin-left:5px;
      font-weight: bold;
      background: transparent; border: none;
  }

  .note > .content{
      margin-top:5px;
      margin-left: 5px;
      margin-right:5px;
           height:100px;
      width:95%;
      font-size: 0.9em;
      background: transparent; border: none;
  }
  
  .note > .date {
    font-size:0.7em;
    font-style: italic;
    color:rgb(0, 0, 0);
    text-align: right;
    margin-top:10px;
  }
  
  .icons {
    position:absolute;
    right:0;
    top:0;
    padding:10px;
  }
  
  