<div style="width:100%;margin-left:auto;margin-right:auto" class="alert alert-info">
  <div>
    Welcome to chat application created by
    <img width="150" src="AkshayLetters.png">
  </div>
  <div style="float:right;">
    <button (click)="clearChatWindow() " class="btn btn-default" title="clear chat window"><i class="fa fa-trash" aria-hidden="true"></i></button></div>
  <div class="alert alert-success" style="height:300px;overflow-y:auto;clear:both;" #chatwindow>
    <div *ngFor="let message of messages" style="display:block;" class="alert" [ngClass]="(socketId==message.from)? 'sent-chat alert-info':'received-chat alert-warning'">
      <div *ngIf="message.text==':)'"><span class="badge" *ngIf="socketId!=message.from">{{message.from}}</span> <i class="fa fa-smile-o" aria-hidden="true"></i></div>
      <div *ngIf="message.text!=':)'"><span class="badge" *ngIf="socketId!=message.from">{{message.from}}</span> {{message.text}}</div>
    </div>

  </div>
  <div style="float:right;">
    <button (click)="loadChatHistory() " class="btn btn-default" title="load chat history"><i class="fa fa-history" aria-hidden="true"></i></button>
  </div>
  <div class="alert alert-success" style="clear:both;">
    <textarea rows="4 " [(ngModel)]="message " (keydown.enter)="sendMessage();false;" style="width:100% "></textarea>
    <div style="float:right;">
      <button (click)="sendSmily() " class="btn btn-default" title="send smiley"><i class="fa fa-smile-o" aria-hidden="true"></i></button>
    </div>
  </div>
</div>